@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4> Segundo Examen Parcial </h4>
        <h4>Carné:2013JL601 Nombre:Cristian Fernando Javier Lima</h4>
    </div>

    <div>
        <img src="https://storageparcial2013jl601.blob.core.windows.net/gallery/azul.jpg" width="300" height="300" />
        <img src="https://storageparcial2013jl601.blob.core.windows.net/gallery/gris.jpg" width="300" height="300" />
        <img src="https://storageparcial2013jl601.blob.core.windows.net/gallery/meow.jpg" width="300" height="300" />
        <img src="https://storageparcial2013jl601.blob.core.windows.net/gallery/rojo.jpg" width="300" height="300" />
        <img src="https://storageparcial2013jl601.blob.core.windows.net/gallery/snake.jpg" width="300" height="300" />
    </div>
    

   

